body {
    background: #F8E8A6;
    text-align: center;
}
h1 {
}
.links {
    display: flex;
    justify-content: center;
}
.links a {
    color: #088000;
    margin: 10px;
}
img {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    max-width: 500px;
}
