body {
  background: #f8e8a6;
  text-align: center;
}
h1 {
}
.links {
  display: flex;
  justify-content: center;
}
.links a {
  color: #088000;
  margin: 10px;
}
img {
  max-width: 100%;
  display: block;
  border-radius: 10px;
  margin: 30px auto;
}
